<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Elements</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="elements.html">Elements</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->




<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container">



        <div class="section-top-border">
            <h3 class="mb-30 title_color">Block Quotes</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “Frontend developers are responsible for building all of the visible parts of applications and
                        websites. In other others, they create the user interface (UI), the elements that users see and
                        they also determine how applications or websites behave based on the user actions.
                        For example, if you want to build a website for your business, a frontend developer will be the
                        one to create the theme, style, images, visual hierarchy, presentation and navigation through
                        the pages.
                        frontend programmers focused only on how software solutions looked or behaved. Nowadays this is
                        a little more complicated because some tasks can or should be performed on the frontend without
                        sending unnecessary requests to the backend. Backend technologies are mainly responsible for
                        database management, site security, performance and other functionalities.”
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30 title_color">Table</h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Countries</div>
                        <div class="visit">Project</div>
                        <div class="percentage">Dependency Graph</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">01</div>
                        <div class="country"> <img style="width:50px"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpaXXg51SfM9U_ly0A2apxVINAPHRNVny-Cw&usqp=CAU"
                                alt="flag">Germany</div>
                        <div class="visit">1 | Travel Website</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: 60%"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">02</div>
                        <div class="country"> <img style="width:50px"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLvMkoPFEBjp-8KsyNNgIQJNhylWJuxr0Ayg&usqp=CAU"
                                alt="flag">India</div>
                        <div class="visit">4 | Major Projects</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: 80%"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">03</div>
                        <div class="country"> <img style="width:50px"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAeyTPItEa8vmAwAGWG5hc_NRTsfll2qT4Pw&usqp=CAU"
                                alt="flag">Spain</div>
                        <div class="visit">1 | Static Design</div>
                        <div class="percentage">
                            <div class="progress">
                                <div class="progress-bar color-1" role="progressbar" style="width: 40%"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>



    </div>
</div>
<!-- End Align Area -->