<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img class="img-fluid" src="img/personal01.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hello Everybody, i am</h6>
                            <h3>Roshni Mishra</h3>
                            <h4>UI/UX Developer</h4>
                            <p>I am passionate about designing and development , I had design several beautiful websites
                                in my carrer dealing with React & JavaScript .</p>
                            <ul class="list basic_info">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i> 16th May, 1998</a></li>
                                <li><a href="#"><i class="lnr lnr-phone-handset"></i>+91 8928080255</a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i>contact.roshnimishra@gmail.com</a></li>
                                <li><a href="#"><i class="lnr lnr-home"></i>Mumbai , Maharashtra</a></li>
                            </ul>
                            <ul class="list personal_social">

                                <li><a href="https://twitter.com/Roshni_mishra__"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/roshani-mishra/"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>About Myself</h4>
                    <p>Experienced Web Developer with a demonstrated history of working in the information technology
                        and services industry. Skilled in Management Information Systems (MIS) and IT Project & Program
                        Management. I had worked on both Product and service based company with good employee image.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-database"></i>
                                <h4>04</h4>
                                <p>Company</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>08</h4>
                                <p>Total Projects</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>02</h4>
                                <p>Team Manage</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>HTML5 <span class="counter">100</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>CSS/SCSS <span class="counter">90</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>JavaScript<span class="counter">60</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>React <span class="counter">60</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Firebase <span class="counter">50</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
    <div class="container">
        <div class="tabs_inner">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">My Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">My Education</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Auguest 20 - Dec 20</p>
                                </div>
                                <div class="media-body">
                                    <h4>GIT</h4>
                                    <p> Jr Web Designer <br />Lingumpali, Hydrabad</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>January 21 - July 21</p>
                                </div>
                                <div class="media-body">
                                    <h4>CuddlyNest</h4>
                                    <p>Web Developer <br />Berlin, Germany</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Auguest 21 - Present</p>
                                </div>
                                <div class="media-body">
                                    <h4>Capgemini</h4>
                                    <p>Senior Web Developer <br />Mumbai, Maharashtra</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list">
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>July 2004 - July 2014</p>
                                </div>
                                <div class="media-body">
                                    <h4>SSC</h4>
                                    <p>MKVM High School <br />Mumbai , Maharashtra</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>Sep 2014 - March 2017</p>
                                </div>
                                <div class="media-body">
                                    <h4>Diploma</h4>
                                    <p>Industrial Electronics <br />Thane, Maharashtra</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span></span>
                            <div class="media">
                                <div class="d-flex">
                                    <p>June 2017 -Nov 2020</p>
                                </div>
                                <div class="media-body">
                                    <h4>Engineering</h4>
                                    <p>Electronics and Tele-Communication <br />Mumbai, Maharashtra</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End My Tabs Area =================-->

<!--================Feature Area =================-->
<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Services provided by me </h2>
            <p>There are several services a company expect from their employee to provide under the occupation of Web
                Development . I do provide the below services with quality </p>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-ravelry" aria-hidden="true"></i>
                    <h4>Animation</h4>
                    <p>2D & 3D Animation along with ease effects which gets highlight on projects smoothly with
                        minimilistics efforts</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4>Components Designs</h4>
                    <p>Independent and reusable bits of code components with clean sementic designs and formation of
                        side </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <h4>Development</h4>
                    <p>Core development concepts including api calls and menupliation of Json with JavaScript </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->

<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>The Latest Featured Projects</h2>
            <p>Web UI</p>
        </div>
        <div class="isotope_fillter">
            <ul class="gallery_filter list">
                <li class="active" data-filter="*"><a href="#">CuddlyNest</a></li>
                <li data-filter=".brand"><a href="#">Tata Capital</a></li>
                <li data-filter=".manipul"><a href="#">Jaika Insurence</a></li>
                <li data-filter=".creative"><a href="#">Codepen</a></li>
                <li data-filter=".design"><a href="#">Printing</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn1.png" alt="">
                        <a class="light" href="img/gallery/cn1.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>About Design</h4>
                        <p>Cuddlynest Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/JK2.png" alt="">
                        <a class="light" href="img/gallery/JK2.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Insurence Design</h4>
                        <p>Client Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 manipul creative design print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/TC2.png" alt="">
                        <a class="light" href="img/gallery/TC2.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Tata Capital Rating</h4>
                        <p>Tekno Point</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative print">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn2.png" alt="">
                        <a class="light" href="img/gallery/cn2.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Feture List </h4>
                        <p>CuddlyNest Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/TC1.png" alt="">
                        <a class="light" href="img/gallery/TC1.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Pre-Payment Development</h4>
                        <p>Tata Capital Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn7.png" alt="">
                        <a class="light" href="img/gallery/cn7.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Map Design</h4>
                        <p>Client Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/cn6.png" alt="">
                        <a class="light" href="img/gallery/cn6.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>Accomodation Design</h4>
                        <p>Client Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand creative">
                <div class="h_gallery_item">
                    <div class="g_img_item">
                        <img class="img-fluid" src="img/gallery/JK1.png" alt="">
                        <a class="light" href="img/gallery/JK1.png"><img src="img/gallery/icon.png" alt=""></a>
                    </div>
                    <div class="g_item_text">
                        <h4>3D Logo Design</h4>
                        <p>Client Project</p><br>
                        <button type="search" href="https://www.cuddlynest.com/about-us"
                            class="btn btn-outline-primary">View Project</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--================End Home Gallery Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Testimonials</h2>
            <p>Client and Co-workers review about my work </p>
        </div>
        <div class="testi_inner">
            <div class="testi_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <image
                            src="https://media-exp1.licdn.com/dms/image/C4E03AQGk8j4bCh57QQ/profile-displayphoto-shrink_200_200/0/1517009196252?e=1633564800&v=beta&t=jTLfg0nQCLUzLkJL-gJy2I3G2muBgoReOMxrE4vBiRE">
                        </image>
                        <br>
                        <p>"I'm really happy with your determination to finish this project. I know it wasn't easy, but
                            I knew you could do it. Your helpful attitude makes it clear that you can continue to take
                            on new challenges and grow with the company."</p>
                        <h4>Gustavo León Higuera</h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img
                            src="https://media-exp1.licdn.com/dms/image/C4E03AQED_6hpDOQFjA/profile-displayphoto-shrink_200_200/0/1611573247405?e=1633564800&v=beta&t=0ylO9avVpwChOkfu3il7DUW3jstNy1HIfad19VkpfaA" /><br>
                        <p>“You put so much hard work into getting this client, and it really paid off. <br>Thanks to
                            your focus and determination in going the extra mile and managing all of the complexities of
                            this project, we met our goals.”</p>
                        <h4>Dmitry Churkin</h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img
                            src="https://media-exp1.licdn.com/dms/image/C4E03AQFhcST9Nc4TUw/profile-displayphoto-shrink_200_200/0/1605515906515?e=1633564800&v=beta&t=K2VlrhKzJgBCZ6SSYwiu7HG0aCOqe4Lm7i41OCsi0lw" /><br>
                        <p> “Even though the outcome wasn’t what we wanted, I want to congratulate you on all of the
                            hard work you put in over the past few weeks.<br> If we apply that same effort to our next
                            project, I believe we can win.”</p>
                        <h4>Agha Hassan Afzal Khanr</h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img
                            src="https://media-exp1.licdn.com/dms/image/C5103AQFysH-_lUScBw/profile-displayphoto-shrink_200_200/0/1578821418093?e=1633564800&v=beta&t=iCgPelUsoCTiX8X0bad48cWUbLF9Hh8H5vWq7pF5MOY" /><br>
                        <p>“I can tell how hard you’ve worked to be more collaborative during meetings. you asked some
                            good questions first. Your critiques are more powerful than they used to be. You’ve come a
                            long way, and the team is better for it.”</p>
                        <h4>Benazir Mulla </h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img
                            src="https://media-exp1.licdn.com/dms/image/C5603AQFok7x_LXjKnw/profile-displayphoto-shrink_200_200/0/1599484788457?e=1633564800&v=beta&t=Xf6PXVeRMshw99YV5xkqeOnkgfT_0zMQ7WOs2tlucQ4" /><br>
                        <p> “You’ve come a long way since you started here. All of the effort you’ve put into reading
                            and taking online courses really shows — it’s like you’re a whole different marketer. I
                            can’t wait to see what you achieve next quarter.”</p>
                        <h4>Rishikesh Mishrar</h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <img
                            src="https://media-exp1.licdn.com/dms/image/C5603AQGb_nqrrnIF1A/profile-displayphoto-shrink_200_200/0/1612443291138?e=1633564800&v=beta&t=3vZB7tQtJpS4cEgXWyC6oE72o21HIKBOb9FD40lNImw" /><br>
                        <p>"All the training you have done with Rico has been very helpful. You're giving him a great
                            start to his internship. <br> I have taken notice of your leadership skills and will keep
                            this in mind for future projects."</p>
                        <h4>Vishal Suryawanshi</h4>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials Area =================-->